/* The main UI stuff */

.icon-button {
  position: relative;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background: #1C4347;
  transition: all 0.1s ease-in-out;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);

  // Center children
  & > * {
    .center();
    height: 55%;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.map {
  width: 100%;
  height: 100%;
}

.filter, .my-location {
  position: absolute;
}


@button-side-margin: 14px;
@button-bottom-margin: 16px;

.filter {
  left: @button-side-margin;
  bottom: @button-bottom-margin + 54px;
}

.my-location {
  left: @button-side-margin;
  bottom: @button-bottom-margin;
}

.loader {
  padding: 20px;
}

@icon-size: 24px;

/* Map marker */

.leaflet-marker-icon {
  //transition: all 0.3s ease;
}

.map-marker-icon {
  position: absolute;
}

.map-marker-text {
  position: relative;
  width: 100%;
  height: 100%;

  > p {
    color: white;
    margin: 0 !important;
    .center();
  }
}

/*
Hide map box logo, we still attribute mapbox and open street maps in the right
bottom corner
*/
.mapbox-logo {
  .hidden();
}
