.InfoPage {
  transform: translateZ(0);
  background: @grey-x-light;
  color: @grey-dark;
  overflow: auto;

  p {
    color: @grey-dark;
  }

  h3 {
    color: @grey-dark;
  }

  h4 {
    margin-bottom: 20px;
    color: @grey-dark;
  }

  .InfoPage-vehicle-types {
    margin-bottom: 40px;
    clear: both;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .disclaimer {
      clear: both;
      float: left;
      width: 100%;
  }
}
