.icon-button {
  position: absolute;
  z-index: 1000;
  height: @button-size;
  width: @button-size;
  border-radius: 50%;
  background: @grey-dark;
  transition: all 0.1s ease-in-out;

  // Center children
  > * {
    .center();
    height: 55%;
  }
}

.no-touch .icon-button:hover {
  transform: scale(1.08);
}

.button-settings {
  left: @button-side-margin;
  bottom: @button-bottom-margin;
}

.locate-me-container {
  z-index: 1000;
  position: absolute;
  right: @button-side-margin + 54px;
  bottom: @button-bottom-margin;

  .icon-button {
    bottom: 0;
    right: 0;
  }

  .Loader {
    margin-left: -25px;
    margin-top: -25px;
  }
}

.button-locate-me {
  transition: all 0.2s ease-in-out;

  &.disabled {
    transform: scale(0);
  }
}

.button-zoom-in {
  right: @button-side-margin;
  bottom: @button-bottom-margin + 54px;
}

.button-zoom-out {
  right: @button-side-margin;
  bottom: @button-bottom-margin;
}
